.bids {
    min-height: 120px;
}
.bid {
    min-height: 24px;
    position: relative;
    &.oddRow {
        background-color: rgb(242, 244, 253);
    }
    .orderbook-amount {
        position: initial;
        .volume-bar {
            background-color: rgba(0, 217, 159, 0.3);
            background-position: 50% center;
            position: absolute;
            height: 16px;
            top: 4px;
            left: -1px;
            z-index: 1;
        }
    }
}
